/kpmg/venv
/kpmg/OpenData
/kpmg/.idea
/*/__pycache__
/*/.idea
kpmg/pdf/

meta_gen/test_meta_gen.py

scraping_final/scraping_financial_statmnt/fin_stat_2018/

scraping_final/scraping_financial_statmnt/05_scrpg_fin_rep.py

scraping_final/scraping_staatblad_seb/pdf/

scraping_final/scraping_staatblad_seb/utils/__pycache__/

scraping_final/scraping_staatblad_seb/utils/2019-41000241.xbrl

scraping_final/scraping_staatblad_seb/utils/XBRL.py

scraping_final/scraping_staatblad_seb/__pycache__/

scraping_final/scraping_financial_statmnt/geckodriver.log

front seb/

pymongoexample - Copie/



trad/
